.singleDetail a,
.singleDetail span {
  background: #645fef;
  color: #fff;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}

.singleDetail a svg {
  font-size: 20px;
}
