.post_area {
    position: absolute;
    background: #fff;
    width: 60%;
    padding: 20px;
    box-shadow: 1px 1px 5px #000;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}