.contactPage .singleItem {
  display: flex;
  justify-content: flex-start;
  border: none !important;
  border-bottom: 1px solid #033507 !important;
  border-radius: 0 !important;
  text-align: left;
}

.contactPage .singleItem label {
  width: 50%;
}

.contactPage .singleItem input,
.contactPage .singleItem input:focus {
  width: 50%;
  border: none;
  color: #ed7a70;
  outline: none;
  background: none;
}

.textArea.singleItem {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
}

.textArea.singleItem textarea {
  width: 100%;
  height: 200px;
}
.verticalBorder {
  position: relative;
}

.singleBorder {
  width: 3px;
  height: 60vh;
  align-items: center;
  justify-content: center;
  background: red;
  left: 0px;
  /* bottom: -20px; */
  position: relative;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 767px) {
  .singleBorder {
    width: 100%;
    height: 3px;
  }
}
