.homeHeading h2 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  color: #f29898;
  padding: 15px 0;
  margin: 50px 0;
}

.homeHeading h2::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 10px;
  background: none;
  border: 1px solid #f29898;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 10px;
}

.homeHeading h2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f29898;
  left: 50%;
  bottom: -5px;
  border-radius: 50%;
}
.single_service img {
  width: 100%;
}
.singleItem {
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000;
  padding: 10px;
  background: #fff;
  position: relative;
}

.singleBlogItem {
  position: relative;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000;
  padding: 10px;
  background: #fff;
  display: block;
  overflow: hidden;
}

.singleDetail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s all ease;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}
.singleItem:hover .singleDetail {
  transform: scale(1);
}
.singleBlogItem::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  top: -50%;
  background: rgba(95, 77, 239, 0.7);
  transition: 0.6s all ease;
  z-index: 1;
}
.singleBlogItem::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: -50%;
  background: rgba(95, 77, 239, 0.7);
  transition: 0.6s all ease;
  z-index: 1;
}
.singleBlogItem:hover::before {
  top: 0;
}
.singleBlogItem:hover::after {
  bottom: 0;
}
.singleBlogItem:hover .singleDetail {
  transform: scale(1);
}

.singlePic img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s all ease;
  z-index: -1;
}
.singleItem:hover .singlePic img {
  transform: scaleY(1.5);
}
.singleBlogItem:hover .singlePic img {
  transform: scaleX(1.5);
}
.singlePic {
  /* padding: 10px; */
  border-radius: 5px;
  overflow: hidden;
}

.singleDetail h4 {
  font-size: 45px;
  color: red;
  font-weight: 600;
  font-family: "Lobster Two";
}

.singleDetail p {
  color: #5f4def;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.latestProject {
  position: relative;
  padding: 50px 0;
  box-sizing: border-box;
  margin-top: 50px;
  padding-top: 5px;
}

.latestProject::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5f4def;
  left: 0;
  top: 0;
  content: "";
  transform: skewY(-3deg);
  z-index: -1;
}
.latestBlog .singleDetail {
  background: transparent;
  color: #fff;
  z-index: 5;
}
.singleDetail a,
.singleDetail span {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
}

.latestBlog .singleDetail p {
  color: #fff;
}
