.sliderPic {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: block;
}

.sliderPic img {
  width: 100%;
  display: block;
  height: 100%;
}
.sliderContent h4 {
  font-size: 30px;
  color: #176eb6;
  font-weight: 500;
  text-shadow: 1px 1px #000;
}

.sliderContent h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lobster Two", cursive;
  color: rgb(231, 16, 16);

  font-size: 50px;
}

.sliderContent p {
  font-size: 14px;
  color: #0bce1c;
  font-weight: 500;
  line-height: 20px;
}
.sliderContent p b {
  color: #dc3545;
  font-weight: 600;
}
